.combo{
    height: 30px;
    font-size: 14px;
}

.customerInputForm{
    width: 300px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 250px;
    padding: 0px;
    

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 0, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    background: linear-gradient(135deg, rgba(223, 223, 220, 0.13), #c6cbce);

}

#itemSelectForm{
    width: 700px;
    height: 170px;
    position: absolute;
    top: 150px;
    left: 680px;
    padding: 0px;
    

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 0, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    background: linear-gradient(135deg, #c6cbce, rgba(223, 223, 220, 0.13));
}

#qtyInputForm{
    width: 700px;
    height: 70px;
    position: absolute;
    top: 330px;
    left: 680px;
    padding: 0px;
    

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 0, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    background: linear-gradient(135deg, #c6cbce, rgba(223, 223, 220, 0.13));
}

.comboBrand{
    width: 200px;
    height: 30px;
    font-size: 14px;
}

#btnAddToCart{
    background-color: #135FB2;
    color: white;
   border-radius: 20px;
    width: 120px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    margin-top: 19px;
    font-weight: bold;
}

#btnAddToCart:hover{
    background-color: #52565F;
}

#cartTableDiv{
    width: 900px;
    height: 250px;
    position: absolute;
    top: 420px;
    left: 200px;

}

#cartItemTable{

    height: 100%;
    width: 100%;
    background-color: #CECECE;
    overflow-y: 'auto';
}

#mobileQtyInput{
    width: 100px;
}

.lblOrderId{
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-right: 5px;
}

#totDiv{
    position: absolute;
    bottom: 190px;
    left: 1150px;

}

#totLable{
    font-size: 35px;
    font-weight: bold;
    color: rgb(223, 15, 15);
    font-family: 'Roboto Slab', serif;
  

}  

#totAmount{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    margin-left: 15px;
    width: 250px;
}

#btnPlaceOrder{
    bottom: 100px;
    position: absolute;
    right: 200px;
    height: 60px;
    width: 150px;
    background-color: #0085B2;
    font-weight: bold;
}

#btnPlaceOrder:hover{
    background-color: #406287;
}

#btnNewCustomer{
    width: 80px;
    height:50px;
    background-color: #c0ae0a;

    border: none;
    position: absolute;
    left: 565px;
    top: 160px;
    font-size: 12px;
    font-weight: bold;
}

#btnNewCustomer:hover{
    background-color:#978908 ;
}

#customerRegistrationModal{
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0;
}