#mainNav{
    position:"fixed";
     width:"100vw";
    background-color:#444645;
    box-shadow: 3px 4px 16px 4px #444645;
}
#ShopName{
    position: absolute;
    top: 18px;
    left: 90px;
    font-family: 'Kaushan Script', cursive;
}

.btnLogout{
    background-color: #EA3B28;
    border: none;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    top: 27px;
    right: 50px;
    color: white;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

#navList{

   right: 300px;
   position: absolute;
   
}

.navItem{
    color: white;
    margin-right: 20px;
}

.navItem:hover{
    color: aqua;
}